.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: orange;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
  fill: black;
}

.background {
  fill: none;
  pointer-events: all;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5;
  stroke-opacity: .7;
}

.bar_chart2 {
  fill: rgb(49,163,84);
  fill-opacity: .9;
}

.bar_chart3 {
  fill: rgb(84,49,163);
  fill-opacity: .9;
}

.dot {
}

.tooltip {
  line-height: 1;
  padding: 12px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 2px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3.5px;
  opacity: 0.5;
}

.line:hover {
  stroke-width: 7px;
  stroke: yellow;
  opacity: 1;
}

.x.axis path {
  display: line;
}

.grid path {
      stroke-width: 0;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.column {
  float: right;
}

/*.button {
	background: white;
	color: black;
	padding: 5px;
	margin: 5px;
	border: blue;
	border-style: solid;
	border-width: 0.5px;
	display: inline-block;
	font: 13px sans-serif;
}

.x.axis path {
display: none;
}*/

.axis text {
font: 10px sans-serif;
}

.callout{
  position:relative;
  padding:45px 15px 15px;
  margin:0 -15px 15px;
  border-color:#e5e5e5 #eee #eee;
  border-style:solid;
  border-width:1px 0;
  -webkit-box-shadow:inset 0 3px 6px rgba(0,0,0,.05);
  box-shadow:inset 0 3px 6px rgba(0,0,0,.05)
}
