var q4_data = {
  labels: [
    'Midwest', 'Northeast', 'South', 'West'],
  series: [
    {
      label: 'Female',
      values: [0.78676601, 0.64049559, 0.729892427, 0.724759136]
    },
    {
      label: 'Male',
      values: [0.728253968, 0.640359168, 0.656529647, 0.641322314]
    },]
};

var q1_data = {
  labels: [
    'Midwest', 'Northeast', 'South', 'West'],
  series: [
    {
      label: 'Female',
      values: [0.583526889, 0.552757713, 0.573984083, 0.556000478]
    },
    {
      label: 'Male',
      values: [0.390161639, 0.410238095, 0.433704491, 0.408441558]
    },]
};

var barchart = function(data, target) {
	var formatPercent = d3.format(".0%");

	// eventually read data automatically via .csv function
	var chartWidth       = 300,
	    barHeight        = 20,
	    groupHeight      = barHeight * data.series.length,
	    gapBetweenGroups = 10,
	    spaceForLabels   = 150,
	    spaceForLegend   = 150;

	// Zip the series data together (first values, second values, etc.)
	var zippedData = [];
	for (var i=0; i<data.labels.length; i++) {
	  for (var j=0; j<data.series.length; j++) {
	    zippedData.push(data.series[j].values[i]);
	  }
	}

	// Color scale
	var color = d3.scale.category20b();
	var chartHeight = barHeight * zippedData.length + gapBetweenGroups * data.labels.length;

	var x = d3.scale.linear()
	    .domain([0, d3.max(zippedData)])
	    .range([0, chartWidth]);

	var y = d3.scale.linear()
	    .range([chartHeight + gapBetweenGroups, 0]);

	var yAxis = d3.svg.axis()
	    .scale(y)
	    .tickFormat('')
	    .tickSize(0)
	    .orient("left");

	// Specify the chart area and dimensions
	var chart = d3.select(target)
	    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
	    .attr("height", chartHeight);

	// Create bars
	var bar = chart.selectAll("g")
	    .data(zippedData)
	    .enter().append("g")
	    .attr("transform", function(d, i) {
	      return "translate(" + spaceForLabels + "," + (i * barHeight + gapBetweenGroups * (0.5 + Math.floor(i/data.series.length))) + ")";
	    });

	// Create rectangles of the correct width
	bar.append("rect")
	    .attr("fill", function(d,i) { return color(i % data.series.length); })
	    .attr("class", "bar")
	    .attr("width", x)
	    .attr("height", barHeight - 1);

	// Add text label in bar
	bar.append("text")
	    .attr("x", function(d) { return x(d) - 3; })
	    .attr("y", barHeight / 2)
	    .attr("fill", "red")
	    .attr("dy", ".35em")
	    .text(function(d) { return formatPercent(d) });

	// Draw labels
	bar.append("text")
	    .attr("class", "label")
	    .attr("x", function(d) { return - 10; })
	    .attr("y", groupHeight / 2)
	    .attr("dy", ".35em")
	    .text(function(d,i) {
	      if (i % data.series.length === 0)
		return data.labels[Math.floor(i/data.series.length)];
	      else
		return ""});

	chart.append("g")
	      .attr("class", "y axis")
	      .attr("transform", "translate(" + spaceForLabels + ", " + -gapBetweenGroups/2 + ")")
	      .call(yAxis);

	// Draw legend
	var legendRectSize = 18,
	    legendSpacing  = 4;

	var legend = chart.selectAll('.legend')
	    .data(data.series)
	    .enter()
	    .append('g')
	    .attr('transform', function (d, i) {
		var height = legendRectSize + legendSpacing;
		var offset = -gapBetweenGroups/2;
		var horz = spaceForLabels + chartWidth + 50 - legendRectSize;
		var vert = i * height - offset;
		return 'translate(' + horz + ',' + vert + ')';
	    });

	legend.append('rect')
	    .attr('width', legendRectSize)
	    .attr('height', legendRectSize)
	    .style('fill', function (d, i) { return color(i); })
	    .style('stroke', function (d, i) { return color(i); });

	legend.append('text')
	    .attr('class', 'legend')
	    .attr('x', legendRectSize + legendSpacing)
	    .attr('y', legendRectSize - legendSpacing)
	    .text(function (d) { return d.label; });
}
barchart(q1_data, '#barchart_q1');
