<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>MIDS w209 - Data Visualization</title>
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link href="{% static "css/footer.css" %}" rel="stylesheet">


 <!--[if lt IE 9]>
 <script src="{% static "js/html5shiv.js" %}"></script>
 <script src="{% static "js/respond.min.js" %}"></script>
 <![endif]-->   

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="{% static "js/datamaps.usa.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>

<div class="container-fluid">
	{% block main %}{% endblock %}
</div>

{% include "footer.html" %}

</body>
<script>

{% include "data_script.html" %}
{% include "map_script2.html" %}

</script>

<script src="{% static "js/sortbar.js" %}"></script>
<script src="{% static "js/bar.js" %}"></script>
<script src="{% static "js/scatter.js" %}"></script>
<script src="{% static "js/linechart.js" %}"></script>

<script>

barchart(video_responses_data, '#video_responses');

barchart(q1_data, '#barchart_q1');
barchart(q2_data, '#barchart_q2');
barchart(q3_data, '#barchart_q3');
barchart(q4_data, '#barchart_q4');
barchart(q5_data, '#barchart_q5');

sortbar(q1_sortbar_data, '#sortbar_q1', '#sortbar_q1_input', false, 'bar_chart2');
sortbar(q2_sortbar_data, '#sortbar_q2', '#sortbar_q2_input', false, 'bar_chart2');
sortbar(q3_sortbar_data, '#sortbar_q3', '#sortbar_q3_input', false, 'bar_chart2');
sortbar(q4_sortbar_data, '#sortbar_q4', '#sortbar_q4_input', false, 'bar_chart2');
sortbar(q5_sortbar_data, '#sortbar_q5', '#sortbar_q5_input', false, 'bar_chart2');

make_chart(q1_scores, '#resultmap_q1');
make_chart(q2_scores, '#resultmap_q2');
make_chart(q3_scores, '#resultmap_q3');
make_chart(q4_scores, '#resultmap_q4');
make_chart(q5_scores, '#resultmap_q5');

//scatterplot(q1_scores_filter, '#scatterplot_q1');
//scatterplot(q2_scores_filter, '#scatterplot_q2');
//scatterplot(q3_scores_filter, '#scatterplot_q3');
//scatterplot(q4_scores_filter, '#scatterplot_q4');
//scatterplot(q5_scores_filter, '#scatterplot_q5');

linechart('#ww_linechart');

</script>
<script src="{% static "js/select.js" %}"></script>

</html>


