

var q1_scores = {{ q1_scores|safe }};
var q2_scores = {{ q2_scores|safe }};
var q3_scores = {{ q3_scores|safe }};
var q4_scores = {{ q4_scores|safe }};
var q5_scores = {{ q5_scores|safe }};

var q1_data = {{ q1_bar|safe }};
var q2_data = {{ q2_bar|safe }};
var q3_data = {{ q3_bar|safe }};
var q4_data = {{ q4_bar|safe }};
var q5_data = {{ q5_bar|safe }};

var q1_sortbar_data = {{ q1_sortbar|safe }};
var q2_sortbar_data = {{ q2_sortbar|safe }};
var q3_sortbar_data = {{ q3_sortbar|safe }};
var q4_sortbar_data = {{ q4_sortbar|safe }};
var q5_sortbar_data = {{ q5_sortbar|safe }};
