
<p>
Below are results from the Duke morality survey, plus additional data 
as filled out by our site viewers. They indicate that morality does differ
somewhat by region.
</p>
<a class="btn btn-default" href="#q1" data-toggle="collapse" role="button">Q1</a>
<a class="btn btn-default" href="#" role="button">Q2</a>
<a class="btn btn-default" href="#" role="button">Q3</a>
<a class="btn btn-default" href="#" role="button">Q4</a>
<a class="btn btn-default" href="#" role="button">Q5</a>

<br/>
<br/>
<div class="row" id='q1'>

<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">I develop strong emotions toward people I can rely on</h2>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>Responses by State</h3>
     <div id="resultmap_q1" style="position: relative; height: 550px; width: 100%;"></div>
   </div>
   <div class='col-md-5 col-xs-12 col-lg-5'>
	<div id='resultmap_q1_textbox'></div>
   </div>  
   <div class='col-md-7 col-xs-12 col-lg-7'>
	<h3>Regional distribution by gender</h3>
	<svg class='chart' id='barchart_q1' style='width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Sorted results by gender & region</h3>
	<input type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q1' style='position: relative; height: 400px; width:100%;'></svg>
   </div>
  </div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- row -->

