
{% load staticfiles %}

<br/>
<br/>
<br/>
<br/>
<p class='lead callout'>
How can each of us not only improve interpersonal interaction with people close in relation to us but elevate harmony in the broader world?
</p>

<p>
<ul><li>To jumpstart some global reflection with data, the visualizations below are derived from country-level respondent data of Pew Research Center's <a href='http://www.thearda.com/Archive/Files/Descriptions/GRELREST.asp'>Global Restrictions on Religion Data</a> survey, and reveal some trends on violence in the world over the past 7 years. Do you agree or disagree with these trends? Why?</li></ul></p>

<br/>
<h5>Percent of countries that confirmed, by region: "Did individuals or groups use violence or the threat of violence,
  including so-called honor killings, to try to enforce religious norms?"</h5>
  
<p>Placing a cursor on any regional line will highlight that line</p>

<div id='ww_linechart' style='height: 500px; width:100%'></div>


<br/>
<br/>
<br/>
<br/>
<p class='lead callout'>
Is it right or wrong that violence is inflicted to enforce religion? The graph below shows the state of violence over time. Why has it increased?
</p>

<img style='width:100%; height: 750px;' src="{% static "_Final_StaticVisualization_SmallMultiples_TimeSeries.png" %}" />

<br/>
<br/>
<h4>Hopefully, these data visualizations (from parent-child connection to global violence) facilitated reflection on your and others' moral views, and will support your creative ideas for better relationships in society. Thank you for visiting!
</h4>
<br/>
