<h4>
Compare your agreement/disagreement with other people in your state and other states. The interactive data incorporates respondent data from Duke University’s “Measuring Morality” survey, too.
</h4>

<button type='button' id='q1_select' class='btn btn-default'>Q1</button>
<button type='button' id='q2_select' class='btn btn-default'>Q2</button>
<button type='button' id='q3_select' class='btn btn-default'>Q3</button>
<button type='button' id='q4_select' class='btn btn-default'>Q4</button>
<button type='button' id='q5_select' class='btn btn-default'>Q5</button>

<br/>
<br/>

<div class="row" id='q1'>

<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">{{ q1_question }}</h2>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>{{ mapchart_title }}</h3>
 	<small>Map of % in agreement to the question "{{ q1_question }}"</small><br/><br/>
     <div id="resultmap_q1" style="position: relative; height: 500px; width: 100%;"></div>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<div id='resultmap_q1_textbox'></div>
   </div>  
   <!--<div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>{{ sortbar_title }}</h3>
	<svg class='chart' id='barchart_q1' style='width:100%;'></svg>
   </div>-->
   <!--<div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ scatter_title }} (>{{ nfilter }} responses)</h3>
 	<small>"{{ q1_question }}" <br/>{{ scatter_subtext }}</small>
	<div id='scatterplot_q1' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ sortbar_title }}</h3>
 	<small>"{{ q1_question }}"</small><br/><br/>
	<input id='sortbar_q1_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q1' style='position: relative; height: 300px; width:100%;'></svg>
   </div>-->
  </div> <!-- panel-body -->
</div> <!-- panel -->

</div> <!-- q1 -->


<div class="row" id='q2'>
<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">{{ q2_question }}</h2>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>{{ mapchart_title }}</h3>
 	<small>Map of % in agreement to the question "{{ q2_question }}"</small><br/><br/>
     <div id="resultmap_q2" style="position: relative; height: 500px; width: 100%;"></div>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<div id='resultmap_q2_textbox'></div>
   </div>  
   <!--<div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>{{ sortbar_title }}</h3>
	<svg class='chart' id='barchart_q2' style='width:100%;'></svg>
   </div>-->
   <!--<div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ scatter_title }} (>{{ nfilter }} responses)</h3>
 	<small>"{{ q2_question }}" <br/>{{ scatter_subtext }}</small><br/><br/>
	<div id='scatterplot_q2' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ sortbar_title }}</h3>
 	<small>"{{ q2_question }}"</small><br/><br/>
	<input id='sortbar_q2_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q2' style='position: relative; height: 300px; width:100%;'></svg>
   </div>-->
  </div> <!-- panel-body -->
</div> <!-- panel -->

</div> <!-- q2 -->


<div class="row" id='q3'>
<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">{{ q3_question }}</h2>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>{{ mapchart_title }}</h3>
 	<small>Map of % in agreement to the question "{{ q3_question }}"</small><br/><br/>
     <div id="resultmap_q3" style="position: relative; height: 500px; width: 100%;"></div>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<div id='resultmap_q3_textbox'></div>
   </div>  
   <!--<div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>{{ sortbar_title }}</h3>
	<svg class='chart' id='barchart_q3' style='width:100%;'></svg>
   </div>-->
   <!--<div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ scatter_title }} (>{{ nfilter }} responses)</h3>
 	<small>"{{ q3_question }}" <br/>{{ scatter_subtext }}</small><br/><br/>
	<div id='scatterplot_q3' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ sortbar_title }}</h3>
 	<small>"{{ q3_question }}"</small><br/><br/>
	<input id='sortbar_q3_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q3' style='position: relative; height: 300px; width:100%;'></svg>
   </div>-->
  </div> <!-- panel-body -->
</div> <!-- panel -->

</div> <!-- q3 -->


<div class="row" id='q4'>
<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">{{ q4_question }}</h3>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>{{ mapchart_title }}</h3>
 	<small>Map of % in agreement to the question "{{ q4_question }}"</small><br/><br/>
     <div id="resultmap_q4" style="position: relative; height: 500px; width: 100%;"></div>
   </div>
  <div class='col-md-12 col-xs-12 col-lg-12'>
	<div id='resultmap_q4_textbox'></div>
   </div>  
   <!--<div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>{{ sortbar_title }}</h3>
	<svg class='chart' id='barchart_q4' style='width:100%;'></svg>
   </div>-->
   <!--<div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ scatter_title }} (>{{ nfilter }} responses)</h3>
 	<small>"{{ q4_question }}" <br/>{{ scatter_subtext }}</small><br/><br/>
	<div id='scatterplot_q4' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ sortbar_title }}</h3>
 	<small>"{{ q4_question }}"</small><br/><br/>
	<input id='sortbar_q4_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q4' style='position: relative; height: 300px; width:100%;'></svg>
   </div>-->
  </div> <!-- panel-body -->
</div> <!-- panel -->

</div> <!-- q4 -->


<div class="row" id='q5'>
<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">{{ q5_question }}</h2>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>{{ mapchart_title }}</h3>
 	<small>Map of % in agreement to the question "{{ q5_question }}"</small><br/><br/>
     <div id="resultmap_q5" style="position: relative; height: 500px; width: 100%;"></div>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<div id='resultmap_q5_textbox'></div>
   </div>  
   <!--<div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>{{ sortbar_title }}</h3>
	<svg class='chart' id='barchart_q5' style='width:100%;'></svg>
   </div>-->
   <!--<div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ scatter_title }} (>{{ nfilter }} responses)</h3>
 	<small>"{{ q5_question }}" <br/>{{ scatter_subtext }}</small><br/><br/>
	<div id='scatterplot_q5' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>{{ sortbar_title }}</h3>
 	<small>"{{ q5_question }}"</small><br/><br/>
	<input id='sortbar_q5_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q5' style='position: relative; height: 300px; width:100%;'></svg>
   </div>-->
  </div> <!-- panel-body -->
</div> <!-- panel -->

</div> <!-- q5 -->


