<p class="lead">
Live analysis of morality across the US. 
</p>
<p>
This analysis will refresh with responses as they flow into the site. 
</p>

<br/>
<div class="row">
<div class="col-xs-12 col-md-offset-1 col-md-10">
<div class="panel panel-default">
 <div class="panel-body">
 {% include 'Chart1_Grouped_Hori_Bar_Chart_IS6.html' %}
 </div>
</div>
</div> <!-- col -->
</div> <!-- row -->


<div class="row">
<div class="col-xs-12 col-md-offset-1 col-md-10">
<div class="panel panel-default">
 <div class="panel-body">
 {% include 'Chart3_Grouped_Hori_Bar_Chart_DPES11.html' %}
 </div>
</div>
</div> <!-- col -->
</div> <!-- row -->
