
<p>
Below are results from the Duke morality survey, plus additional data 
as filled out by our site viewers. They indicate that morality does differ
somewhat by region.
</p>

<button type='button' id='q1_select' class='btn btn-default'>Q1</button>
<button type='button' id='q2_select' class='btn btn-default'>Q2</button>
<button type='button' id='q3_select' class='btn btn-default'>Q3</button>
<button type='button' id='q4_select' class='btn btn-default'>Q4</button>
<button type='button' id='q5_select' class='btn btn-default'>Q5</button>

<br/>
<br/>

<div class="row" id='q1'>

<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">I develop strong emotions toward people who I can rely on</h3>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>Percent of respondents who agree, by state</h3>
     <div id="resultmap_q1" style="position: relative; height: 550px; width: 100%;"></div>
   </div>
   <div class='col-md-5 col-xs-5 col-lg-5'>
	<div id='resultmap_q1_textbox'></div>
   </div>  
   <div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>Percent agreed, gender and region</h3>
	<svg class='chart' id='barchart_q1' style='width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agreed, gender and region</h3>
	<input id='sortbar_q1_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q1' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agree vs. disagree, state scatterplot (>{{ nfilter }} responses)</h3>
	<div id='scatterplot_q1' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
  </div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- row -->

</div> <!-- q1 -->


<div class="row" id='q2'>
<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">Parents should empower children as much as possible so that they may follow their dreams</h3>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>Percent of respondents who agree, by state</h3>
     <div id="resultmap_q2" style="position: relative; height: 550px; width: 100%;"></div>
   </div>
   <div class='col-md-5 col-xs-5 col-lg-5'>
	<div id='resultmap_q2_textbox'></div>
   </div>  
   <div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>Percent agreed, gender and region</h3>
	<svg class='chart' id='barchart_q2' style='width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agreed, gender and region</h3>
	<input id='sortbar_q2_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q2' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agree vs. disagree, state scatterplot (>{{ nfilter }} responses)</h3>
	<div id='scatterplot_q2' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
  </div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- row -->

</div> <!-- q2 -->


<div class="row" id='q3'>
<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">Moral standards should be seen as individualistic -- what one person considers to be moral may be judged as immoral by another person</h3>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>Percent of respondents who agree, by state</h3>
     <div id="resultmap_q3" style="position: relative; height: 550px; width: 100%;"></div>
   </div>
   <div class='col-md-5 col-xs-5 col-lg-5'>
	<div id='resultmap_q3_textbox'></div>
   </div>  
   <div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>Percent agreed, gender and region</h3>
	<svg class='chart' id='barchart_q3' style='width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agreed, gender and region</h3>
	<input id='sortbar_q3_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q3' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agree vs. disagree, state scatterplot (>{{ nfilter }} responses)</h3>
	<div id='scatterplot_q3' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
  </div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- row -->

</div> <!-- q3 -->


<div class="row" id='q4'>
<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">If one believes something is right one must stand by it, even if it means losing friends or missing out on profitable opportunities</h3>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>Percent of respondents who agree, by state</h3>
     <div id="resultmap_q4" style="position: relative; height: 550px; width: 100%;"></div>
   </div>
  <div class='col-md-5 col-xs-5 col-lg-5'>
	<div id='resultmap_q4_textbox'></div>
   </div>  
   <div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>Percent agreed, gender and region</h3>
	<svg class='chart' id='barchart_q4' style='width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agreed, gender and region</h3>
	<input id='sortbar_q4_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q4' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agree vs. disagree, state scatterplot (>{{ nfilter }} responses)</h3>
	<div id='scatterplot_q4' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
  </div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- row -->

</div> <!-- q4 -->


<div class="row" id='q5'>
<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">I consider myself spiritual, somewhat spiritual, or very spiritual</h3>
  </div>
  <div class="panel-body">
   <div class='col-md-12 col-xs-12 col-lg-12'>
     <h3>Percent of respondents who agree, by state</h3>
     <div id="resultmap_q5" style="position: relative; height: 550px; width: 100%;"></div>
   </div>
   <div class='col-md-5 col-xs-5 col-lg-5'>
	<div id='resultmap_q5_textbox'></div>
   </div>  
   <div class='col-md-7 col-xs-7 col-lg-7'>
	<h3>Percent agreed, gender and region</h3>
	<svg class='chart' id='barchart_q5' style='width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agreed, gender and region</h3>
	<input id='sortbar_q5_input' type="checkbox"> Sort values</input>
	<svg class='bar_chart2' id='sortbar_q5' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
   <div class='col-md-12 col-xs-12 col-lg-12'>
	<h3>Percent agree vs. disagree, state scatterplot (>{{ nfilter }} responses)</h3>
	<div id='scatterplot_q5' style='position: relative; height: 350px; width:100%;'></svg>
   </div>
  </div> <!-- panel-body -->
</div> <!-- panel -->
</div> <!-- row -->

</div> <!-- q5 -->
