
<p class="lead">
Before diving in, feel free to enjoy the brief video below to inform next steps.
</p>

<br/>
<div class="row">
<div class="col-xs-12 col-md-offset-1 col-md-10">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="{{ video }}" allowfullscreen></iframe>
</div>

{% if watched_video %}

<br/>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
  <strong>Thank you for participating!</strong> Your anonymous responses dynamically updated the data visualizations below.
</div>

<p></p>
<h4>You received one of two videos at random. Did the videos have differential effects on responses?</h4> 
<p>Specific survey question was: "How often do you plan to reach out to your parent(s) in the next 12 months?</p>
<br/>
<svg class='chart' id='video_responses' style='width:100%;'></svg>

{% else %}

<div class='checkbox'>
 <label><input type='checkbox' value ='' id='video_box'><strong>I have watched the video.</strong></label>
</div>
<div id="survey_btn">
 <p>Now, feel free to take our anonymous, 3-minute survey. Your responses will dynamically update data visualizations below.</p>
 <a href="{% url 'surveys:survey' %}" class='btn btn-primary'>Go to survey</a>
</div>

{% endif %}
<br/>

<p>You can find your similarities and/or differences with not only recent respondents of our survey but respondents to other relevant surveys, which are also incorporated in data visualizations below.</p>

<p>
  <ul>
    <li><a href="http://kenan.ethics.duke.edu/attitudes/resources/measuring-morality/">Duke University's "Measuring Morality" survey conducted by GfK</a></li>
    <li><a href="http://www.thearda.com/Archive/Files/Descriptions/GRELREST.asp">Pew Research Center's "Global Restrictions on Religion Data" survey</a></li>
  </ul>
</p>

</div> <!-- col -->
</div> <!-- row -->
