
{% extends "base.html" %}

{% block main %}

<div class="row">
<div class="col-xs-12 col-md-offset-2 col-md-8">

{% include "index_headline.html" %}
{% include "index_headline_subtext.html" %}

</div> <!-- col -->
</div> <!-- row -->


<div class="row">
<div class="col-xs-12 col-md-offset-2 col-md-8">

<!--<h1 id=nav class=page-header>Contribute</h1>-->

{% include "index_video.html" %}

</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col-xs-12 col-md-offset-2 col-md-8">
<!--<h1 id=nav class=page-header>Responses</h1>-->

{% include "index_charts.html" %}

</div> <!-- col -->
</div> <!-- row -->

<div class='row'>
<div class="col-xs-12 col-md-offset-2 col-md-8">

{% include 'sort_filter_chart_Q1.html' %}

</div> <!-- col -->
</div> <!-- row -->

<div class='row'>
<div class="col-xs-12 col-md-offset-2 col-md-8">

{% include 'sort_filter_chart_Q2.html' %}

</div> <!-- col -->
</div> <!-- row -->

<div class='row'>
<div class="col-xs-12 col-md-offset-2 col-md-8">

{% include 'sort_filter_chart_Q3.html' %}

</div> <!-- col -->
</div> <!-- row -->

<div class='row'>
<div class="col-xs-12 col-md-offset-2 col-md-8">

{% include 'sort_filter_chart_Q4.html' %}

</div> <!-- col -->
</div> <!-- row -->

<div class='row'>
<div class="col-xs-12 col-md-offset-2 col-md-8">

{% include 'sort_filter_chart_Q5.html' %}

</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col-xs-12 col-md-offset-2 col-md-8">
<!--<h1 id=nav class=page-header>Morality <small>worldwide</small></h1>-->

{% include "index_worldwide.html" %}

</div> <!-- col -->
</div> <!-- row -->

{% endblock %}
