
{% load staticfiles %}

<h4>How can each of us improve interpersonal relations among people close to us and elevate harmony in the broader world?</h4>

<p>
<ul><li>To jumpstart the effort, the data visualizations below are derived from a respondent data of Pew Research Center's <a href='http://www.thearda.com/Archive/Files/Descriptions/GRELREST.asp'>Global Restrictions on Religion Data</a> survey, and reveal some trends on violence in the world over the past 7 years.</li></ul></p>

<br/>
<h5>Percent confirmed: "Did individuals or groups use violence or the threat of violence,
  including so-called honor killings, to try to enforce religious norms?"</h5>

<div id='ww_linechart' style='height: 500px; width:100%'></div>

<br/>
<img style='width:100%; height: 750px;' src="{% static "_Final_StaticVisualization_SmallMultiples_TimeSeries.png" %}" />

<br/>
<p>Hopefully, these visualizations have engaged reflection on your moral views and/or others’ views, and will support better relationships in society. Thank you again for visiting! Now let’s improve the world collectively!
</p>
