<p class='lead'>
Purpose of Website
</p>

<p>For you and we to create a more harmonious world, whether from improved relations with family members to less violence across countries, perhaps we need to better understand each other's "moral" views. This webpage is a starting point -- if you scroll through, you can share your moral views and then, through data visualization, compare with others' views. Are you similar or different from others on controverial questions, and does your reflection create novel ideas for improving interpersonal relations?</p>

